@font-face {
    font-family: 'rajdhaniregular';
    src: url('../fonts/mxp/Rajdhani/rajdhani-regular.eot');
    src: url('../fonts/mxp/Rajdhani/rajdhani-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Rajdhani/rajdhani-regular.woff2') format('woff2'),
        url('../fonts/mxp/Rajdhani/rajdhani-regular.woff') format('woff'),
        url('../fonts/mxp/Rajdhani/rajdhani-regular.ttf') format('truetype'),
        url('../fonts/mxp/Rajdhani/rajdhani-regular.svg#rajdhaniregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rajdhanisemibold';
    src: url('../fonts/mxp/Rajdhani/rajdhani-semibold.eot');
    src: url('../fonts/mxp/Rajdhani/rajdhani-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Rajdhani/rajdhani-semibold.woff2') format('woff2'),
        url('../fonts/mxp/Rajdhani/rajdhani-semibold.woff') format('woff'),
        url('../fonts/mxp/Rajdhani/rajdhani-semibold.ttf') format('truetype'),
        url('../fonts/mxp/Rajdhani/rajdhani-semibold.svg#rajdhanisemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rajdhanibold';
    src: url('../fonts/mxp/Rajdhani/rajdhani-bold.eot');
    src: url('../fonts/mxp/Rajdhani/rajdhani-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Rajdhani/rajdhani-bold.woff2') format('woff2'),
        url('../fonts/mxp/Rajdhani/rajdhani-bold.woff') format('woff'),
        url('../fonts/mxp/Rajdhani/rajdhani-bold.ttf') format('truetype'),
        url('../fonts/mxp/Rajdhani/rajdhani-bold.svg#rajdhanibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rajdhanilight';
    src: url('../fonts/mxp/Rajdhani/rajdhani-light.eot');
    src: url('../fonts/mxp/Rajdhani/rajdhani-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Rajdhani/rajdhani-light.woff2') format('woff2'),
        url('../fonts/mxp/Rajdhani/rajdhani-light.woff') format('woff'),
        url('../fonts/mxp/Rajdhani/rajdhani-light.ttf') format('truetype'),
        url('../fonts/mxp/Rajdhani/rajdhani-light.svg#rajdhanilight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rajdhanimedium';
    src: url('../fonts/mxp/Rajdhani/rajdhani-medium.eot');
    src: url('../fonts/mxp/Rajdhani/rajdhani-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Rajdhani/rajdhani-medium.woff2') format('woff2'),
        url('../fonts/mxp/Rajdhani/rajdhani-medium.woff') format('woff'),
        url('../fonts/mxp/Rajdhani/rajdhani-medium.ttf') format('truetype'),
        url('../fonts/mxp/Rajdhani/rajdhani-medium.svg#rajdhanimedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/mxp/Barlow/barlow-bold.eot');
    src: url('../fonts/mxp/Barlow/barlow-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mxp/Barlow/barlow-bold.woff2') format('woff2'),
        url('../fonts/mxp/Barlow/barlow-bold.woff') format('woff'),
        url('../fonts/mxp/Barlow/barlow-bold.ttf') format('truetype'),
        url('../fonts/mxp/Barlow/barlow-bold.svg#barlowbold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    /*Colors*/
    --primary: #9D2235;
    --secondary: #181818;
    --accent: #9D2235;
    --divider: #d9d9d9;
    --dark: #181818;
    --light: #f6f6f6;
    --grey: #f5f5f5;

    /*Fonts*/
    --title: 'rajdhanibold';
    --p: 'rajdhaniregular';
    --strong: 'rajdhanibold';
    --em: 'rajdhaniregular';
}