@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothicItalic';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic-Cn-bl.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothicBoldItalic';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic-Bd2.eot'),
        url('../fonts/cbt/TradeGothic/TradeGothic-BoldCondTwenty.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothicBold';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothicond';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothiclight';
    src: url('../fonts/cbt/TradeGothic/Trade-Gothic-com-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothiclt';
    src: url('../fonts/cbt/TradeGothic/TradeGothicLTStd-Cn18.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothicltStd';
    src: url('../fonts/cbt/TradeGothic/TradeGothicLTStd.otf') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

:root {
    /*Colors*/
    --primary: #800000;
    --secondary: #202945;
    --accent: #202945;
    --divider: #676E73;
    --dark: #110F0F;
    --light: #FFFFFF;
    --grey: #767676;

    /*Fonts*/
    --title: 'TradeGothiclt';
    --p: 'TradeGothiclight';
    --strong: 'TradeGothicBold';
    --em: 'TradeGothicItalic';
}