@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/pen/Roboto/roboto-regular.eot');
    src: url('../fonts/pen/Roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Roboto/roboto-regular.woff2') format('woff2'),
        url('../fonts/pen/Roboto/roboto-regular.woff') format('woff'),
        url('../fonts/pen/Roboto/roboto-regular.ttf') format('truetype'),
        url('../fonts/pen/Roboto/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/pen/Roboto/roboto-black.eot');
    src: url('../fonts/pen/Roboto/roboto-black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Roboto/roboto-black.woff2') format('woff2'),
        url('../fonts/pen/Roboto/roboto-black.woff') format('woff'),
        url('../fonts/pen/Roboto/roboto-black.ttf') format('truetype'),
        url('../fonts/pen/Roboto/roboto-black.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'perpetuaregular';
    src: url('../fonts/pen/Perpetua/perpetua_regular.eot');
    src: url('../fonts/pen/Perpetua/perpetua_regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Perpetua/perpetua_regular.woff2') format('woff2'),
        url('../fonts/pen/Perpetua/perpetua_regular.woff') format('woff'),
        url('../fonts/pen/Perpetua/perpetua_regular.ttf') format('truetype'),
        url('../fonts/pen/Perpetua/perpetua_regular.svg#perpetuaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'perpetuabold_italic';
    src: url('../fonts/pen/Perpetua/perpetua_blond_italic.eot');
    src: url('../fonts/pen/Perpetua/perpetua_blond_italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Perpetua/perpetua_blond_italic.woff2') format('woff2'),
        url('../fonts/pen/Perpetua/perpetua_blond_italic.woff') format('woff'),
        url('../fonts/pen/Perpetua/perpetua_blond_italic.ttf') format('truetype'),
        url('../fonts/pen/Perpetua/perpetua_blond_italic.svg#perpetuabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'perpetuabold';
    src: url('../fonts/pen/Perpetua/perpetua_blond.eot');
    src: url('../fonts/pen/Perpetua/perpetua_blond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Perpetua/perpetua_blond.woff2') format('woff2'),
        url('../fonts/pen/Perpetua/perpetua_blond.woff') format('woff'),
        url('../fonts/pen/Perpetua/perpetua_blond.ttf') format('truetype'),
        url('../fonts/pen/Perpetua/perpetua_blond.svg#perpetuabold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'perpetuaitalic';
    src: url('../fonts/pen/Perpetua/perpetua_italic.eot');
    src: url('../fonts/pen/Perpetua/perpetua_italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pen/Perpetua/perpetua_italic.woff2') format('woff2'),
        url('../fonts/pen/Perpetua/perpetua_italic.woff') format('woff'),
        url('../fonts/pen/Perpetua/perpetua_italic.ttf') format('truetype'),
        url('../fonts/pen/Perpetua/perpetua_italic.svg#perpetuaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /*Colors*/
    --primary: #011F5B;
    --secondary: #990000;
    --accent: #990000;
    --divider: #9B1915;
    --dark: #252525;
    --light: #ffffff;
    --grey: #f5f5f5;

    /*Fonts*/
    --title: 'perpetuaregular';
    --p: 'RobotoRegular';
    --strong: 'RobotoBlack';
    --em: 'RobotoRegular';
    --link: 'RobotoRegular'
}