:root {
    /*Colors*/
    --primary: #DCB929;
    --secondary: #000000;
    --accent: #DCB929;
    --dark: #000000;
    --light: #FFFFFF;
    --grey: #F8F8F8;

    /*Fonts*/
    --title: 'Arial';
    --p: 'Arial';
    --strong: 'Arial';
    --em: 'Arial';
    --link: 'Arial'
}