html {
    margin: 0px;
    color: var(--black);
}

body {
    font-size: 16px;
    font-family: var(--p);
}

h1 {
    font-size: 2.50rem;
    font-family: var(--title);
}

h2 {
    font-size: 2.25rem;
    font-family: var(--title);
}

h3 {
    font-size: 2rem;
    font-family: var(--title);
}

h4 {
    font-size: 1.75rem;
    font-family: var(--title);
}

h5 {
    font-size: 1.5rem;
    font-family: var(--title);
}

h6 {
    font-size: 1.25rem;
    font-family: var(--title);
}

a {
    font-size: 1rem;
    font-family: var(--p);
}

em {
    font-size: 1rem;
    font-family: var(--em);
}

strong {
    font-size: 1rem;
    font-family: var(--strong);
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 50px rgb(179, 179, 179);
}

pre {
    background-color: var(--dark);
    color: #abff2e;
    border-radius: 20px;
}


.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-accent {
    background-color: var(--accent) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.color-accent {
    color: var(--accent);
}

.color-light {
    color: var(--light);
}

.color-dark {
    color: var(--dark);
}

.btn {
    border-radius: 5px;
    text-align: center;
    transition: all 200ms ease-in;
    font-family: var(--p);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1em;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
    border: 2px solid var(--primary);
}

.btn-light {
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid var(--light);
}

.btn-dark {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid var(--dark);
}

.btn-dark:hover {
    background-color: var(--light);
    border: 2px solid var(--light);
    color: var(--dark);
    transition: all 200ms ease-in;
}

.btn-light:hover {
    background-color: var(--dark);
    border: 2px solid var(--dark);
    color: var(--light);
    transition: all 200ms ease-in;
}

.btn-primary:hover {
    background-color: var(--dark);
    border: 2px solid var(--dark);
    color: var(--light);
    transition: all 200ms ease-in;
}

.section-title {
    padding: 50px 0px 5px;
    border-bottom: 2px solid var(--grey);
}

/************** START WEB **************/
/* START COLORS */

.box-color {
    border-radius: 5px 5px 0px 0px;
    height: 150px;
    border: 2px solid var(--dark);
}

.title-box-color {
    border: 2px solid var(--dark);
}

/* END COLORS */
/************** END WEB **************/