@font-face {
    font-family: 'dinprobold';
    src: url('../fonts/ita/Dinpro/dinpro-bold-webfont.eot');
    src: url('../fonts/ita/Dinpro/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ita/Dinpro/dinpro-bold-webfont.woff2') format('woff2'),
        url('../fonts/ita/Dinpro/dinpro-bold-webfont.woff') format('woff'),
        url('../fonts/ita/Dinpro/dinpro-bold-webfont.svg#dinprobold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dinproregular';
    src: url('../fonts/ita/Dinpro/dinpro-regular-webfont.eot');
    src: url('../fonts/ita/Dinpro/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ita/Dinpro/dinpro-regular-webfont.woff2') format('woff2'),
        url('../fonts/ita/Dinpro/dinpro-regular-webfont.woff') format('woff'),
        url('../fonts/ita/Dinpro/dinpro-regular-webfont.svg#dinproregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'calibri-1';
    src: url('../fonts/ita/Calibri/Calibri-Light.eot');
    src: url('../fonts/ita/Calibri/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ita/Calibri/Calibri-Light.woff2') format('woff2'),
        url('../fonts/ita/Calibri/Calibri-Light.woff') format('woff'),
        url('../fonts/ita/Calibri/Calibri-Light.ttf') format('truetype'),
        url('../fonts/ita/Calibri/Calibri-Light.svg#Calibri-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
    /*Colors*/
    --primary: #006853;
    --secondary: #AA6C10;
    --accent: #006853;
    --divider: #006853;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f2f2f2;

    /*Fonts*/
    --title: 'dinprobold';
    --p: 'dinproregular';
    --strong: 'dinprobold';
    --em: 'dinproregular';
    --link: 'calibri-1'
}